<!DOCTYPE html>
<html lang="en" class="scroll-smooth">

  <body>

    <!-- ====== Products Section Start -->
    <section id="products" class="bg-gray-1 pb-8 pt-20 dark:bg-dark-2 lg:pb-[70px] lg:pt-[120px]">
      <div class="container">
        <h1>Products</h1>
        <% products.map((product) => { %>
          <h4>
            <a href="/products/<%=product.productID %>"><%=product.productTitle %></a>
          </h4>
          <p><%=product.productDescription %></p>
          <p>ราคา : <%=product.productPrice %> บาท</p>
        <% }) %>
      </div>
    </section>
    <!-- ====== Products Section End -->

  </body>
</html>